{% from 'partials/macro.html' import formatDateIt, formatDatetimeIt %}
<!DOCTYPE html>
<html lang="it">
	<head>
		{% block after_head_opening_tag %}
		{% endblock %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>{% block title %}{% endblock %}</title>
		{% block before_head_closing_tag %}
		<link href="{{ url_for('static', filename='node_modules/startbootstrap-sb-admin/dist/css/styles.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='dist/css/styles.css') }}" rel="stylesheet" />
		{% endblock %}
	</head>
	<body class="sb-nav-fixed">
		{% block after_body_opening_tag %}
		{% endblock %}
		{% block navbar %}
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" href="{{ url_for('homepage') }}">Personal Virtual Airline</a>
			<!-- Sidebar Toggle-->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
		</nav>
		{% endblock %}
		<div id="layoutSidenav">
			{% block sidebar %}
			<div id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">
							{% block sidebar_menu %}
							<a class="nav-link" href="{{ url_for('homepage') }}">
								<div class="sb-nav-link-icon"><i class="fas fa-home-alt"></i></div>
								Homepage
							</a>
							<a class="nav-link" href="{{ url_for('aeroporti') }}">
								<div class="sb-nav-link-icon"><i class="fas fa-plane-departure"></i></div>
								Aeroporti
							</a>
							<a class="nav-link" href="{{ url_for('aeromobiliPosseduti') }}">
								<div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
								Aeromobili che possiedi
							</a>
							{% endblock %}
						</div>
					</div>
					<div class="sb-sidenav-footer">{% block sidebar_footer %}{% endblock %}</div>
				</nav>
			</div>
			{% endblock %}
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4">
						{% with messaggi = get_flashed_messages(category_filter=['error']) %}
							{% if messaggi %}
							<div class="row pt-4">
								<div class="col">
									<ul class="bg-danger text-white rounded p-2">
										{% for errore in messaggi %}
											<li>{{ errore }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							{% endif %}
						{% endwith %}
						{% with messaggi = get_flashed_messages(category_filter=['success']) %}
							{% if messaggi %}
							<div class="row pt-4">
								<div class="col">
									<ul class="bg-success text-white rounded p-2">
										{% for successo in messaggi %}
											<li>{{ successo }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							{% endif %}
						{% endwith %}
						{% with messaggi = get_flashed_messages(category_filter=['info']) %}
							{% if messaggi %}
							<div class="row pt-4">
								<div class="col">
									<ul class="bg-primary text-white rounded p-2">
										{% for info in messaggi %}
											<li>{{ info }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							{% endif %}
						{% endwith %}
						{% block content %}
						{% endblock %}
					</div>
				</main>
				<footer class="py-4 bg-light mt-auto">
					<div class="container-fluid px-4">
						{% block footer %}
						<div class="d-flex align-items-center justify-content-between small">
							<div class="text-muted"><a href="https://github.com/Rubbonn/Personal-VA" target="_blank">Made by Rubbonn</a></div>
						</div>
						{% endblock %}
					</div>
				</footer>
			</div>
		</div>
		{% block before_body_closing_tag %}
		<script src="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}" defer></script>
		<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}" defer></script>
		<script src="{{ url_for('static', filename='node_modules/startbootstrap-sb-admin/dist/js/scripts.js') }}" defer></script>
		{% endblock %}
	</body>
</html>